body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todo-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  transition: transform 0.3s;
}

.todo-container:hover {
  transform: translateY(-5px);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: #343a40;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#todo-input {
  width: 70%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#todo-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

#add-button {
  padding: 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-button:hover {
  background-color: #218838;
}

#todo-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
}

#todo-list li {
  padding: 12px;
  border-bottom: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

#todo-list li:hover {
  background-color: #f8f9fa;
}

#todo-list li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#todo-list li button:hover {
  background-color: #c82333;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #0056b3;
}
